{% set cart = cart.get() %}
{% if cart.items_quantity > 0 %}
<div class="cart_small">
  Sweet, you have {{ cart.items_quantity }} item{% if cart.items_quantity > 1 %}s{% endif %}
  in <a href="/cart">your shopping cart</a>
</div>  
{% endif %}
  