<div class="footer">
This store is running on SolidShops.com. <a href="http://www.solidshops.com" target="_blank" title="Hosted Ecommerce">Try it free now</a>.
  <br/>
  <iframe src="//www.facebook.com/plugins/like.php?app_id=290009541016133&amp;href=http%3A%2F%2Fwww.facebook.com/solidshops&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21"  scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;margin-left: auto; margin-right: auto; margin-top: 10px;" allowTransparency="true"></iframe>
</div>