<br style="clear: left" />
 {% set pagination = solid.getPagination() %}
<div class="pagination">
    {% if pagination.pages|length > 1 %}
    	{% if pagination.previous %}
    		<a href="{{ pagination.previous_url }}">Prev</a>
        {% endif %}
    
    	{% for page in pagination.pages %}
          {% if page.number == pagination.current %}
              <a href="{{ page.url }}">{{ page.number }}</a>
          {% else %}
             <a href="{{ page.url }}">{{ page.number }}</a>
          {% endif %}
        {% endfor %}
    
    	{% if pagination.next %}
        	<a href="{{ pagination.next_url }}">Next</a>
        {% endif %}
    {% endif %}
</div>