<!DOCTYPE html>
<html>
<head>  
  {{ solid.embed("facebook_head") }}
  <script type="text/javascript">
   function updatecart()
    {
         var formcart = document.getElementById('formcart');
         formcart.setAttribute("target", "_self");
         formcart.btnupdate.click();
    }
    
    function checkoutcart()
    {
          var formcart = document.getElementById('formcart');
         formcart.setAttribute("target", "_top");
         formcart.btncheckout.click();
    }
  </script> 
</head>
<body>
      
  <a class="link_back_to_store" href="/" style="display: block; margin-bottom: 15px;">&laquo; continue shopping</a>
  
<div class="cart"> 
{% set cart = cart.get() %}
<form id="formcart" action="" method="post">
<table>
  <thead>
      <tr>
        <th> </th>
        <th style="width: 40%;" class="left">Item</th>
        <th class="left">Price</th>
        <th class="center">Qty</th>
        <th class="right">Sub</th>
        <th class="center">&nbsp;</th>
    </tr>
  </thead>
  
  <tbody>
    {% for item in cart.items %}
     
    <tr class="productrow">
      <td class="cart_thumb">{% if item.thumbnail %}<a href="{{ item.url }}">
      <img width="40" height="40" src="{{ item.thumbnail }}" /></a>{% endif %}</td>
      <td class="cart_prod_name">
        <a href="{{ item.url }}" title="{{ item.name }}">{{ item.name }}</a><br />
        {% for variant in item.variants %}
        <span>{{ variant.name }} : {{ variant.value }}</span><br />
        {% endfor %}
      </td>
      <td class="left">{{ item.price|currency("symbol") }}</td>
      <td class="center"><input style="text-align:right;" type="text" size="3"
      name="quantity_{{ item.id }}" value="{{ item.quantity }}" /></td>
      <td class="right">{{ item.price_total|currency("symbol") }}</td>
      <td class="center">
        <a class="linkRemoveFromCart" href="/cart/remove/{{item.id}}"
        title="Remove From Cart" rel="{{ item.id }}">Remove</a>
      </td> 
    </tr>
     
    {% else %}
    <tr><td colspan="6">&nbsp;</td></tr>
    <tr>
      <td colspan="6" style="padding: 5px; text-align:center;">
        Oh, your cart is still empty. Treat yourself and
        <a href="/">continue shopping</a>?
      </td>
    </tr>
    {% endfor %}
     
    <tr>
      <td colspan="6">&nbsp;</td>
    </tr>
    
    {% if cart.items_quantity > 0 %}
   
     
    <tr class="summary">
      <td colspan="5" class="right">Total items</td>
      <td class="right">{{ cart.items_quantity }}</td>
    </tr>
     
    {% if cart.tax_setting == "excl" %}
     
    <tr class="summary" class="summary">
      <td colspan="5" class="right">Subtotal</td>
      <td class="right">{{ cart.items_price_total|currency("symbol") }}</td>
    </tr>
     
    <tr>
      <td colspan="5" class="right">Taxes</td>
      <td class="right">{{ cart.items_tax|currency("symbol") }} {{ item.tax_setting }}</td>
    </tr>
     
    {% endif %}
  
    <tr class="summary">
      <td colspan="5" class="right">Shipping total</td>
      <td class="right">{{ cart.shipping_total|currency("symbol") }}</td>
    </tr>
     
    <tr class="summary">
      <td colspan="5" class="right">Grand total</td>
      <td class="right">{{ cart.total|currency("symbol") }}</td>
    </tr>
    {% endif %}
      
  </tbody>
</table>
      
{% if cart.items_quantity > 0 %}  
<div class="checkout right">  
Ship to:  {{ solid.htmlShippingCountries() }} 
   
<input class="button" type="submit" value="Update Cart" id="btnupdate" name="btnupdate" onclick="updatecart()" /> 
<input class="button" type="submit" value="Checkout &raquo;" id="btncheckout" name="btncheckout" onclick="checkoutcart()" />      
</div>
{% endif %}  
</form>
</div>
     
  

</body>
</html>