<!DOCTYPE html>
<html>
<head>  
  {{ solid.embed("facebook_head") }}
</head>
<body>

  {{ solid.embed("cart_small") }}
  
<div class="fbtop">
  <h2 class="title">Browse by Category</h2>
    
      <select id="dropNavigation" OnChange="location.href=document.getElementById('dropNavigation').options[selectedIndex].value">  
      <option value="/">Select a category</option>
     {% for cat in category.getList() %}
      <option value="{{ cat.url }}">{{ cat.name }}</option>
            {% for subcat in cat.subcategories %}
            <option value="{{ subcat.url }}">&nbsp;&nbsp;{{ subcat.name }}</option>
                {% for subcat2 in subcat.subcategories %}
                 <option value="{{ subcat2.url }}">&nbsp;&nbsp;&nbsp;&nbsp;{{ subcat2.name }}</option>
                {% endfor %}  
            {% endfor %}
      {% endfor %}
      </select>
</div> 

<div class="fbcontainer">
   
<ul>
  {% set productOptions = {"count": 16, "order":"id:desc", "pagination":"true"} %}
     {% set products = product.getList(productOptions) %}
     {% for p in products %} 
        <li>
          <h3>
            <a href="{{ p.url }}">{{ p.name }} <br />
              <span class="price">{{ p.price|currency("symbol") }}</span>
            </a>
          </h3>
          
	{% if p.thumbnail != "" %}
          <div class="image">
            <a class="thumbnail" href="{{ p.url }}" title="{{ p.name }}">
              <img src="{{ p.thumbnail}}" alt="{{ p.name }}" />
            </a>
          </div>   
	{% endif %}
            
        </li>
  {% if loop.index%4 == 0%}
  <br style="clear: left" />
  {% endif %}
     {% endfor %} 
</ul>      

  {{ solid.embed("incl_pagination") }}
  
</div>

  {{ solid.embed("footer") }}
  
</body>
</html>