<!DOCTYPE html>
<html>
<head>  
  {{ solid.embed("facebook_head") }}
</head>
<body>
{% set p = product.get() %}

  {{ solid.embed("cart_small") }}  

<div class="fbtop">  
 <a class="link_back_to_store" href="/">&laquo; back to home</a>
</div>
  
<div class="productdetails">
  <h2>{{ p.name }} <span id="placeholder_price">{{p.price|currency("symbol")}}</span></h2>
  
{% set like_this_url = solid.shop_url ~ '/product/' ~  p.nicename   %}
<iframe src="//www.facebook.com/plugins/like.php?app_id=194266867309086&amp;href={{ like_this_url|escape }}&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>

  <div class="productdesc">
    {{p.description}}  
  </div>
     
  
  <div class="productimages">  
  {% for image in p.images %}
         <img src="{{ image.thumbnail}}" alt="Click to enlarge image" />
  {% endfor %} 
  </div>  


 <div class="addtocart"> 
   <form action="/cart/add/{{p.id}}" method="post">

      {% if p.variant_combinations|length > 0 %}  
      <div id="placeholder_variants" class="variants">  
        <label for="variant_combination">Select a combination</label>
          <select id="variant_combination" name="variant_combination">
             {% for variant_combination in p.variant_combinations  %}
             <option value="{{ variant_combination.id }}">
               {{ variant_combination.name }} ({{ variant_combination.price|currency("symbol") }})
              </option>
             {% endfor %}
        </select>
      </div>   
      {% endif %}    
     
 
  <input id="btnSubmit" type="submit" class="submit" value="Add to cart" />
 </form>
  </div>  
  
  </div>
  
  
  <script type="text/javascript" src="https://cdn.solidshops.com/js/solid.js"></script>
  <script type="text/javascript">
     
   // next, we will set general options for money formatting
   SolidJS.symbol = "{{ solid.currency_symbol }} ";
   SolidJS.thousand = "{{ solid.currency_thousand }}";
   SolidJS.decimal = "{{ solid.currency_decimal }}"; 
   
   var product = {{ p|json }};
   var options = new Array();
    

   options['placeholder_price'] = "placeholder_price"; 
   options['placeholder_variants'] = "placeholder_variants"; 
   options['callback_stock'] = "callbackStock"; 
   SolidJS.enhanceVariants(product,options);

   function callbackStock(result)
   {
       //select our add to cart button
       var btnAddToCart = document.getElementById("btnSubmit");
       var productId = result.id;
       var stock = result.stock;
       if(result.stock > 0 || result.always_available != false)
       {
         //product is in stock           
         btnAddToCart.removeAttribute("disabled");
         btnAddToCart.value = "Add to cart";           
       }
       else
       {
         //product is out of stock
         btnAddToCart.setAttribute("disabled", "disabled");
         btnAddToCart.value = "Out of stock";
       }
   }
</script>
  
   
</body>
</html>